<%- include('../partials/header') %>
<%- include('../partials/nav') %>
<div class="container">
    <form action="/categories" method="post">
        <label for="exampleSelect1" class="form-label mt-4">Category</label>
        <div class="row">
            <div class="col">
                <input type="text" name="name" class="form-control" id="exampleSelect1" />

            </div>
            <div class="col">
                <button class="btn btn-primary" type="submit">Create Category</button>

            </div>
        </div>

    </form>
</div>

<%- include('../partials/footer') %>